---
layout: default
---
<div>
  <h2>About me</h2>
  <hr class="about-divider">

  <p>My name is
    <b>Veaceslav Gaidarji</b>.
    <br>I'm a software developer with the main focus on Android platform.
    <br>You can find more about my work experience at my
    <a href=https://www.linkedin.com/in/veaceslavgaidarji)>linkedin profile</a>.
    <br>You can reach me via
    <a href="mailto:veaceslav.gaidarji@gmail.com" target="_top">veaceslav.gaidarji@gmail.com</a>.

  </p>

  <h2>Books</h2>
  <hr class="about-divider">
  <p>
    Here is the list of books I read:
    <br>

    <input type="checkbox" disabled checked="checked"/>
    <i>Clean Code</i>: A Handbook of Agile Software Craftsmanship by Robert C. Martin
    <br>
    <input type="checkbox" disabled checked="checked"/>
    <i>The Art of Unit Testing</i> by Roy Osherove
    <br>
    <input type="checkbox" disabled checked="checked"/>
    <i>The Pragmatic Programmer</i> by Andy Hunt and Dave Thomas
    <br>
    <input type="checkbox" disabled checked="checked"/>
    <i>Refactoring</i>: Improving the Design of Existing Code
    <br>
    <input type="checkbox" disabled checked="checked"/>
    <i>CLR via C#</i> by Jeffrey Richter
    <br>
    <input type="checkbox" disabled checked="checked"/>
    <i>Design Patterns</i> by the Gang of Four
    <br>
    <input type="checkbox" disabled checked="checked"/>
    <i>Building Microservices</i> by Sam Newman
    <br>
    <input type="checkbox" disabled checked="checked"/>
    <i>Bulletproof Android</i> by Godfrey Noltan
    <br>
    <input type="checkbox" disabled checked="checked"/>
    <i>Android Security Internals</i> by Nikolay Elenkov
    <br>
    <input type="checkbox" disabled checked="checked"/>
    <i>Embedded Android</i>: Porting, Extending, Customizing by Karim Yaghmour
    <br>
    <input type="checkbox" disabled/>
    <i>Effective Java 2nd edition</i> (In progress, 50%)
  </p>
</div>
