---
layout: default
---
<div>
    <h2>About me</h2>
    <hr class="about-divider">

    <p>My name is <b>Veaceslav Gaidarji</b>.
        <br>I'm a software developer with the main focus on Android platform.
        <br>You can find more about my work experience at my <a href=https://www.linkedin.com/in/veaceslavgaidarji)>linkedin profile</a>.
        <br>You can reach me via
        <a href="mailto:veaceslav.gaidarji@gmail.com" target="_top">veaceslav.gaidarji@gmail.com</a>.

    </p>

    <h2>Books</h2>
    <hr class="about-divider"> One day, I came across list of books. It looked for me quite interesting and I decided to start reading one book after another.
    <p>Most probably I'll not read all the books from the list, but good to have it in case nothing to read.</p>
    Here is the list:
    <br>

    <br>
    <input type="checkbox" disabled checked="checked"> The Art of Unit Testing by Roy Osherove</input>
    <br>
    <input type="checkbox" disabled checked="checked"> The Pragmatic Programmer</input>
    <br>
    <input type="checkbox" disabled checked="checked"> Refactoring: Improving the Design of Existing Code</input>
    <br>
    <input type="checkbox" disabled checked="checked"> Clean Code: A Handbook of Agile Software Craftsmanship by Robert C. Martin</input>
    <br>
    <input type="checkbox" disabled checked="checked"> CLR via C# by Jeffrey Richter</input>
    <br>
    <input type="checkbox" disabled сhecked="checked"> Design Patterns by the Gang of Four</input>
    <br>
    <input type="checkbox" disabled> Effective Java 2nd edition (In progress, 50%)</input>
    <br>
    <input type="checkbox" disabled> Code Complete (2nd edition) by Steve McConnell</input>
    <br>
    <input type="checkbox" disabled> Structure and Interpretation of Computer Programs</input>
    <br>
    <input type="checkbox" disabled> The C Programming Language by Kernighan and Ritchie</input>
    <br>
    <input type="checkbox" disabled> Introduction to Algorithms by Cormen, Leiserson, Rivest & Stein</input>
    <br>
    <input type="checkbox" disabled> Analysis Patterns Martin Fowler</input>
    <br>
    <input type="checkbox" disabled> The Mythical Man Month</input>
    <br>
    <input type="checkbox" disabled> The Art of Computer Programming by Donald Knuth</input>
    <br>
    <input type="checkbox" disabled> Compilers: Principles, Techniques and Tools by Alfred V. Aho, Ravi Sethi and Jeffrey D. Ullman</input>
    <br>
    <input type="checkbox" disabled> Gödel, Escher, Bach by Douglas Hofstadter</input>
    <br>
    <input type="checkbox" disabled> Effective C++</input>
    <br>
    <input type="checkbox" disabled> More Effective C++</input>
    <br>
    <input type="checkbox" disabled> CODE by Charles Petzold</input>
    <br>
    <input type="checkbox" disabled> Programming Pearls by Jon Bentley</input>
    <br>
    <input type="checkbox" disabled> Working Effectively with Legacy Code by Michael C. Feathers</input>
    <br>
    <input type="checkbox" disabled> Peopleware by Demarco and Lister</input>
    <br>
    <input type="checkbox" disabled> Coders at Work by Peter Seibel</input>
    <br>
    <input type="checkbox" disabled> Surely You're Joking, Mr. Feynman!</input>
    <br>
    <input type="checkbox" disabled> Patterns of Enterprise Application Architecture by Martin Fowler</input>
    <br>
    <input type="checkbox" disabled> The Little Schemer</input>
    <br>
    <input type="checkbox" disabled> The Seasoned Schemer</input>
    <br>
    <input type="checkbox" disabled> Why's (Poignant) Guide to Ruby</input>
    <br>
    <input type="checkbox" disabled> The Inmates Are Running The Asylum: Why High Tech Products Drive Us Crazy and How to Restore the Sanity</input>
    <br>
    <input type="checkbox" disabled> The Art of Unix Programming</input>
    <br>
    <input type="checkbox" disabled> Test-Driven Development: By Example by Kent Beck</input>
    <br>
    <input type="checkbox" disabled> Practices of an Agile Developer</input>
    <br>
    <input type="checkbox" disabled> Don't Make Me Think</input>
    <br>
    <input type="checkbox" disabled> Agile Software Development, Principles, Patterns, and Practices by Robert C. Martin</input>
    <br>
    <input type="checkbox" disabled> Domain Driven Designs by Eric Evans</input>
    <br>
    <input type="checkbox" disabled> The Design of Everyday Things by Donald Norman</input>
    <br>
    <input type="checkbox" disabled> Modern C++ Design by Andrei Alexandrescu</input>
    <br>
    <input type="checkbox" disabled> Best Software Writing I by Joel Spolsky</input>
    <br>
    <input type="checkbox" disabled> The Practice of Programming by Kernighan and Pike</input>
    <br>
    <input type="checkbox" disabled> Pragmatic Thinking and Learning: Refactor Your Wetware by Andy Hunt</input>
    <br>
    <input type="checkbox" disabled> Software Estimation: Demystifying the Black Art by Steve McConnel</input>
    <br>
    <input type="checkbox" disabled> The Passionate Programmer (My Job Went To India) by Chad Fowler</input>
    <br>
    <input type="checkbox" disabled> Hackers: Heroes of the Computer Revolution</input>
    <br>
    <input type="checkbox" disabled> Algorithms + Data Structures = Programs</input>
    <br>
    <input type="checkbox" disabled> JavaScript - The Good Parts</input>
    <br>
    <input type="checkbox" disabled> Getting Real by 37 Signals</input>
    <br>
    <input type="checkbox" disabled> Foundations of Programming by Karl Seguin</input>
    <br>
    <input type="checkbox" disabled> Computer Graphics: Principles and Practice in C (2nd Edition)</input>
    <br>
    <input type="checkbox" disabled> Thinking in Java by Bruce Eckel</input>
    <br>
    <input type="checkbox" disabled> The Elements of Computing Systems</input>
    <br>
    <input type="checkbox" disabled> Refactoring to Patterns by Joshua Kerievsky</input>
    <br>
    <input type="checkbox" disabled> Modern Operating Systems by Andrew S. Tanenbaum</input>
    <br>
    <input type="checkbox" disabled> The Annotated Turing</input>
    <br>
    <input type="checkbox" disabled> Things That Make Us Smart by Donald Norman</input>
    <br>
    <input type="checkbox" disabled> The Timeless Way of Building by Christopher Alexander</input>
    <br>
    <input type="checkbox" disabled> The Deadline: A Novel About Project Management by Tom DeMarco</input>
    <br>
    <input type="checkbox" disabled> The C++ Programming Language (3rd edition) by Stroustrup</input>
    <br>
    <input type="checkbox" disabled> Patterns of Enterprise Application Architecture</input>
    <br>
    <input type="checkbox" disabled> Computer Systems - A Programmer's Perspective</input>
    <br>
    <input type="checkbox" disabled> Agile Principles, Patterns, and Practices in C# by Robert C. Martin</input>
    <br>
    <input type="checkbox" disabled> Growing Object-Oriented Software, Guided by Tests</input>
    <br>
    <input type="checkbox" disabled> Framework Design Guidelines by Brad Abrams</input>
    <br>
    <input type="checkbox" disabled> Object Thinking by Dr. David West</input>
    <br>
    <input type="checkbox" disabled> Advanced Programming in the UNIX Environment by W. Richard Stevens</input>
    <br>
    <input type="checkbox" disabled> Hackers and Painters: Big Ideas from the Computer Age</input>
    <br>
    <input type="checkbox" disabled> The Soul of a New Machine by Tracy Kidder</input>
    <br>
    <input type="checkbox" disabled> Design Patterns in C# by Steve Metsker</input>
    <br>
    <input type="checkbox" disabled> Alice in Wonderland by Lewis Carol</input>
    <br>
    <input type="checkbox" disabled> Zen and the Art of Motorcycle Maintenance by Robert M. Pirsig</input>
    <br>
    <input type="checkbox" disabled> About Face - The Essentials of Interaction Design</input>
    <br>
    <input type="checkbox" disabled> Here Comes Everybody: The Power of Organizing Without Organizations by Clay Shirky</input>
    <br>
    <input type="checkbox" disabled> The Tao of Programming</input>
    <br>
    <input type="checkbox" disabled> Computational Beauty of Nature</input>
    <br>
    <input type="checkbox" disabled> Writing Solid Code by Steve Maguire</input>
    <br>
    <input type="checkbox" disabled> Philip and Alex's Guide to Web Publishing</input>
    <br>
    <input type="checkbox" disabled> Object-Oriented Analysis and Design with Applications by Grady Booch</input>
    <br>
    <input type="checkbox" disabled> Computability by N. J. Cutland</input>
    <br>
    <input type="checkbox" disabled> Masterminds of Programming</input>
    <br>
    <input type="checkbox" disabled> The Tao Te Ching</input>
    <br>
    <input type="checkbox" disabled> The Productive Programmer by Neal Ford</input>
    <br>
    <input type="checkbox" disabled> The Art of Deception by Kevin Mitnick</input>
    <br>
    <input type="checkbox" disabled> The Career Programmer: Guerilla Tactics for an Imperfect World by Christopher Duncan</input>
    <br>
    <input type="checkbox" disabled> Paradigms of Artificial Intelligence Programming: Case studies in Common Lisp</input>
    <br>
    <input type="checkbox" disabled> Masters of Doom</input>
    <br>
    <input type="checkbox" disabled> Pragmatic Unit Testing in C# with NUnit by Andy Hunt and Dave Thomas with Matt Hargett</input>
    <br>
    <input type="checkbox" disabled> How To Solve It by George Polya</input>
    <br>
    <input type="checkbox" disabled> The Alchemist by Paulo Coelho</input>
    <br>
    <input type="checkbox" disabled> Smalltalk-80: The Language and its Implementation</input>
    <br>
    <input type="checkbox" disabled> Writing Secure Code (2nd Edition) by Michael Howard</input>
    <br>
    <input type="checkbox" disabled> Introduction to Functional Programming by Philip Wadler and Richard Bird</input>
    <br>
    <input type="checkbox" disabled> No Bugs! by David Thielen</input>
    <br>
    <input type="checkbox" disabled> Rework by Jason Freid and DHH</input>
    <br>
    <input type="checkbox" disabled> JUnit in Action</input>

</div>
