---
layout: default
---
<div>
  <h2>About me</h2>

  <hr class="about-divider">

  <p>My name is <b>Veaceslav Gaidarji</b>.
    <br>I'm a software developer with the main focus on Android platform.</p>

    <pre class="pre-with-code"><code>
    class Bio {
      public static void main(String[] args) {
        new MyBio()
          .school()
          .university()
          .freelance(in(2011))
          .work(at("sits.md"))
          .work(at("fruitware.ru"))
          .work(at("yopeso.com"));
      }
    }
  </code></pre>
</div>
